body {
	margin: 0;
	padding: 0;
}

.container:before {
	content: "1501 W Sentinel Peak Rd \AS Tucson, AZ 85745\A\A Phone: 520-555-1234 \A FAX: 520-555-5678 \AOffice Hours: Monday – Friday, 9am-6pm. Call for appointments before 9am. ";
	white-space: pre;
}

.info {
	color: #000;
}

.header {
	background-color: white;
}

.slideshow, .tabs, .info img, .contact {
	display: none;
}

.container {
	width: 90%;
	margin: auto;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 25%;
	text-align: center;
}