body {
	margin: 0;
	pargin: 0;
}

h1{
	text-indent: -99999px;
	position: absolute;
}

.container {
	width: 80%;
	margin: auto;
	background-color: blue;
}

ul {
	list-style-type: none;
	
}

li {
	float: left;
	width: 16%;
	text-align: center;
	padding: 1%;
	margin-right: .1%;
	background-color: blue;
	border-radius: 20px;
	color: white;
	position: relative;
	list-style-position: outside;
}

li:hover
{
	background-color: red;
	transition: all 2.5s;
}