body {
	margin: 0;
	padding: 0;
	background: white;
}

h1 {
	text-indent: -9999px;
	position: absolute;
}

.container {
	width: 90%;
	margin: auto;
}

.tabs {
	margin: auto;
}

ul {
	list-style-type: none;
	margin: auto;
}

li {
	float: left;
	width: 16%;
	text-align: center;
	background-color: blue;
	padding: 1%;
	color: white;
	border-radius: 20px;
}

li:hover {
	background-color: #00a0ff;
	transition-duration: 2s;
}

.slideshow {
	margin: auto;
}

.logo {
	width: 50%;
	max-width: 500px;
}

@media ( min-width : 601px) {
	.info {
		width: 45%;
		float: left;
		padding: 2%;
	}
}

@media ( max-width : 600px) {
	.info {
		width: 100%;
		padding: 2%;
	}
}