body {
	margin: 0;
	padding: 0;
	background: white;
}

h1 {
	text-indent: -9999px;
	position: absolute;
}

.header{
	background-color: #d9fbef;
}

.container {
	width: 90%;
	margin: auto;
}

.container, .news{
	background-color: yellow;
}

.tabs {
	margin: auto;
}

ul {
	list-style-type: none;
	margin: 1%;
}

li {
	float: left;
	width: 19%;
	text-align: center;
	background-color: blue;
	color: white;
	border-radius: 20px;
	color: white;
}

li:hover {
	background-color: #00a0ff;
	transition-delay: none;
	transition-duration: .5s;
}

.slideshow {
	margin: auto;
}

.logo {
	width: 50%;
	max-width: 500px;
}

@media ( min-width : 601px) {
	.info {
		width: 45%;
		float: left;
		padding: 2%;
	}
}

@media ( max-width : 600px) {
	.info {
		width: 100%;
		padding: 2%;
	}
}

a {
	padding: 5%; text-decoration : none;
	color: white;
	font-family: sans-serif;
	font-size: 90%;
	display: block;
	text-decoration: none;
}

.footer {
	clear: both;
	left: 38%;
	text-align: center;
	padding: 5%;
}

.slide, .slide1{
	height: 450px;
	text-align: center;
}