.bios {
	width: 90%;
	margin: auto;
	padding: 1%;
	background-color: #26597F;
	color: white;
	font-family: sans-serif;
}

.doctors {
	max-width: 20%;
}

.doc {
	
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(rgba(0, 190, 255, .3), rgba(0, 190, 255, .3)),
		url("..//images/017.jpg");
	line-height: 140%;
}

h1 {
	text-indent: -9999px;
	position: absolute;
}

.header {
	background-color:;
}

.contact {
	float: right;
	margin: 2%;
	font-family: sans-serif;
	position: absolute;
	top: 0;
	right: 15%;
	color: #26597F;
}

.container {
	width: 90%;
	margin: auto;
}

.tabs {
	margin: auto;
}

.tabs {
	list-style-type: none;
	margin: 1%;
}

.tab {
	float: left;
	width: 19%;
	text-align: center;
	background: linear-gradient(#0091FF, #26597F);
	color: white;
	border-radius: 20px;
	color: white;
}

li:hover {
	background: linear-gradient(cyan, #26597F);
	transition-delay: none;
	transition-duration: .5s;
}

.current {
	background: linear-gradient(cyan, #26597F);
}

.slideshow {
	margin: auto;
}

.logo {
	width: 50%;
	max-width: 500px;
}

@media ( min-width : 601px) {
	.info {
		width: 45%;
		float: left;
		padding: 2%;
	}
}

@media ( max-width : 600px) {
	.info {
		width: 100%;
		padding: 2%;
	}
}

a {
	padding: 5%;
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	font-size: 90%;
	display: block;
	text-decoration: none;
}

.footer {
	clear: both;
	left: 38%;
	text-align: center;
	padding: 5%;
	font-family: sans-serif;
	color: #00497F;
}

.slide, .slide1 {
	height: 450px;
	text-align: center;
}

.info {
	background-color: #26597F;
	margin: 1% .5%;
	color: white;
	font-family: sans-serif;
}

.info h2 {
	text-decoration: underline;
}

h2 {
	font-family: sans-serif;
}

.icon {
	margin: 2%;
	width: 10%;
}